{% load static %}

<div class="container">
  <div class="row justify-content-center">
    <h1 id='car-manufacturer-title'>Car manufacturer</h1>
  </div>
</div>

<div class="row justify-content-center mt-3">

  <div class="col-3">
    <div class="card">
      <img src="{% static 'cars/imgs/chevrolet.png' %}"
        class="card-img-top brand-logo center">
      <p class="brand-name text-center"> Chevrolet </p>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="{% static 'cars/imgs/volkswagen.png' %}"
        class="card-img-top brand-logo center">
      <p class="brand-name text-center"> Volkswagen </p>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="{% static 'cars/imgs/volvo.png' %}"
        class="card-img-top brand-logo center">
      <p class="brand-name text-center"> Volvo </p>
    </div>
  </div>
</div>